{% extends "base.njk" %}

{% block content %}
    <a href="start">Back</a>
    <h1>{{ __('details.title') }}</h1>

    <div>
        <p>
            {{ __('details.intro') }}
        </p>

        Hello
    </div>

{% endblock %}
