<div class="">
    <h2 class="mt-0 mb-2">{{ items | length }}
        <span class="inline-block text-sm">Results found containing digital in
        </span>
        <span class="inline-block text-sm p-1 bg-gray-200">{{category}}
            <span></h2>
            <div>
                {% from 'list-item.njk' import listItem as listItem with context %}
                {% block content %}
                    {% for item in items %}
                        {{listItem(item) }}
                    {% endfor %}
                {% endblock %}