{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    <h1>Find Contracts <span class="text-lg">in the Canadian public sector</span></h1>
    <div class="flex flex-wrap">
        <div class="filters flex flex-1 flex-col mr-10 md:max-w-sm lg:max-w-md">
            <!-- Keyword Search -->
            <div class="mb-2">
                <form class="search-form my-0 ">
                    <div class="search-box">
                        <div class="search-box-label">
                            <label for="gsin">
                                Category search
                            </label>
                        </div>
                        <div id="gsin-search"></div>
                    </div>
                </form>
            </div>

            <!-- Locations -->

            <div class="apply-filters my-2 bg-gray-100 px-2 py-2 border border-solid border-gray-300">
                <form class="my-0">
                    <div>
                        {{ checkBoxes('apply_locations', provTerrOptions, data.notify_type, 'form.apply_locations', errors) }}
                    </div>
                </form>
            </div>
            <!-- -->

        </div>
        <div class="flex flex-grow results md:max-w-xl lg:max-w-2xl">
                <div id="results">
                    {% for item in items %}
                        {{listItem(item) }}
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}