{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    <div class="flex flex-wrap flex-row">
        <div class="filters flex flex-1">
            <div>
                <form class="my-0">
                    <button id="search" class="button-link">search</button>
                </form>
            </div>
        </div>
        <div class="flex flex-grow">
            <div class="flex flex-wrap flex-col">
                <div id="results">
                    {% for item in items %}
                        {{listItem(item) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}