{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    <div class="flex flex-wrap flex-row">
        <div class="filters flex flex-1 flex-col mr-10">

            <!-- Status -->

            <div class="apply-filters my-2 bg-gray-100 p-2 border border-solid border-gray-300">
                <form class="my-2">
                    <div>
                        {{ checkBoxes('gsin_category_filter', {
                            '1':'All Categories',
                            '2':'Goods', 
                            '3':'Services',
                            '4':'Construction'
                        }, 
                        data.notify_type, 'form.gsin_category_filter', errors) }}
                    </div>
                </form>
            </div>

            <!-- Locations -->

            <div class="apply-filters my-2 bg-gray-100 px-2 py-2 border border-solid border-gray-300">
                <form class="my-0">
                    <div>
                        {{ checkBoxes('location_filter', {'1':'Ontario','2':'PEI'}, data.notify_type, 'form.location_filter', errors) }}
                    </div>
                </form>
            </div>
            <!-- -->

        </div>
        <div class="flex flex-grow">
            <div class="flex flex-wrap flex-col">
                <div id="results">
                    {% for item in items %}
                        {{listItem(item) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}